ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.tabs li {
    display: inline;
    color: black;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    border-bottom: none;
    padding: 8px;
}
ul.tabs li.selected {
    color: #000;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 12px 5px 6px 5px;
}

.content {
    border: 1px solid #c9c3ba;
    padding: 12px 8px 8px 8px;
}
.hide {
    display: none;
}
